{% extends 'generator/layout.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}"/>
{% endblock %}

{% block content %}
    <style>
        .blue_btn{
            background-color: #B4B4B4;
            color: #ffffff;
            width: 200px;
            height: 50px;
            border: none;
            margin-top:2px;
            cursor: pointer;

        }
    </style>
    <!-- header -->
    <header class="header_admin" id="header">
        <div class="top_header">
            <h1 class="logo"><a href="{% url 'generator:home' %}"><img src="{% static 'images/logo.png' %}" alt="EVM"></a></h1>
        </div>
        <nav>
            <ul class="gnb">
                <li>
                    <a href="{% url 'generator:Upload_Photo' %}">문제 생성</a>
                    <br><br>
                    <a href="{% url 'generator:show_UserProblem' %}">생성한 문제 보기</a>
                     <br><br>
                    <a href="{% url 'generator:show_UserBlankNum' %}">빈칸 개수 수정</a>
                     <br><br>
                    <a href="{% url 'generator:show_DeveloperInfo' %}">개발자 정보</a>
                     <br><br>
                </li>
            </ul>
        </nav>
        <style>
        body{background-image: url('https://i.ibb.co/N2btZq6/background.png');
             background-repeat:no-repeat;
            background-position:1%1% ;
            background-attachment: fixed;
            background-size:126%126%;
        }
        </style>
    </header>
    <!-- //header -->

    <!-- main page part -->
    <main id="container">
        <section class="page_admin">
            <div class="dashboard">
             Developer : Sogang univ. CSE <br>
                손동현, 장솔, 김동현, 고서경, 장진영 <br>
            <br>
            <button type="button" class="blue_btn" onclick="location.href='http://cscp2.sogang.ac.kr/CSE4187/index.php/%EC%98%81%EC%96%B4_%EB%AC%B8%EC%A0%9C_%EC%83%9D%EC%84%B1%EA%B8%B0' ">Click to see <br> EVM Project Information</button>
            <br>
            </div>
        </section>
    </main>



{% endblock %}