<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <title>문제</title> <br><br>

    <font size="4pm" face="나눔고딕">
    <b>문제 정보 : </b>
    <span>{{ candidates.info }}</span></font>
    <br><br><br><br>

    <font size="4pm" face="나눔고딕">
    <b>문제 사진</b></font>
    <img src="{{ candidates.problem_image.url}}" alt = "ProblemImage" width="600">
    <br><br>
    <font size="3pm" face="나눔고딕">
    <b>번역</b>
    <span>{{ candidates.translation_text }}</span></font>
</head>
<body>

</body>
</html>