<!--
    layout for accounts app
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
  <!-- CSS only (for bootstrap)-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'accounts/css/layout.css' %}">
  {% block extrahead %}
  {% endblock %}


</head>

<header>

    <style>
        body{background-image: url('https://i.ibb.co/VN1FBT4/complete.png'),url('https://i.ibb.co/N2btZq6/background.png');
             background-repeat:no-repeat;
            background-position:0%100%,1%1% ;

            background-size:30%30%,126%126%;
        }
    </style>
    <center>
    <div class="container" href="#">
        <img src="../../static/accounts/images/logo.png" />

    </div>
    </center>
</header>

<body>
    <main><!-- right는 로그인박스, left는 왼쪽사진 ... 지워버렸음 5/26 솔-->

        <div class="main_wrap">

            <center>
            <div class="main_right">
                {%block content%}
                {%endblock%}
            </div>
                </center>
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper (for bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html> 
